body{
  background-color:Tomato;
  text-align:center;
}

h1{
  color: RGB(255, 193, 168);
  background-color:  #FF5349;
  padding:15px;
}

h2{
  color: RGB(255, 193, 168);
  background-color:   #FF5349;
  padding:15px;
}

h3{
  color: HSL(6, 59%, 43%);
}

h4{
  color: RGB(255, 193, 168);
  background-color:   #FF5349;
  padding:15px;
}

p{
  color: RGB(255, 193, 168);
  background-color:  #FF5349; 
}

div{
  color:HSL(17, 52%, 74%);
}

input{
  color: RGB(255, 193, 168;
  background-color:  #FF5349;
}